<h1>Comentarios</h1>

<table>
	<tr>
		<th>Comentario</th>
		<th>Comentavel</th>
		<th>Tipo</th>
	</tr>

	<% @comentarios.each do |comentario| %>
	<tr>
		<td><%= comentario.conteudo %></td>
		<td><%= comentario.comentavel_id %></td>
		<td><%= comentario.comentavel_type %></td>
		<td><%= link_to "Mostrar", comentario_path( comentario )%></td>
		<td><%= link_to "Editar", edit_comentario_path( comentario )%></td>
		<td><%= link_to "Deletar", comentario_path( comentario), :method => :delete, :confirm => "certeza?"  %></td>
	
	</tr>
	<% end %>
</table>

<br/>

<%= link_to "Novo", { :action => "new" } %>